@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --color-primary: #64748B;
  --color-primary-light: #E2E8F0;
}

.primary-gradient-color-stop {
  stop-color: var(--color-primary);
}

.secondary-gradient-color-stop {
  stop-color: var(--color-primary-light);
}